*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(229, 84, 115, 0.10);
}
.title{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 800px;
    line-height: normal;
    margin-bottom: 16px;
}
.head.text{
    color: rgba(39, 39, 39, 0, 60);
    font-family:'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400px;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
    
}
.btn-primary{
    border-radius: 8px;
    background-color: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    margin-top: 16px;
}
.head-img{
    height: 800px;
    width: 635px;
    margin-top: 50px;
}
/*section edit file*/
.section-intro{
    text-align: center;
    margin-top: 178px; 
    
}
#sec-head{
    color: #272727; 
    font-size: 40px;
    font-weight: 800px;
    line-height: normal;
}
#sec-pra{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    margin-bottom: 48px;
}
.parent-flower{
    display: flex;
    justify-content:space-around;
    margin-left: 240px;
    margin-right: 240px;
}
.child-1>img{
    height: 428px;
  width: 310px;
  background-color: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
  padding: 110px 78px 0px 76px;
  margin-bottom: 32px;

}
.child-2>img{
  height: 370px;
  width: 370px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 85px 60px;
  margin-bottom: 32px;
}
.child-3>img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 110px 78px 0px 76px;
    height: 471px;
    width: 314px;

}

.child-1,.child-2,.child-3>p{
    text-align: center;
    color: #272727;
    font-size: 24px;
    font-weight: 700px;
    text-decoration-line: underline;
    margin-top: 32px;
    margin-bottom: 32px;
}
.service-icon{
    display: flex;
    justify-content: space-between;
}
.service-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
    
}
.service{
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    margin-left: 240px;
    margin-right: 240px;
    padding: 40px;
    margin-left: 840px;
    margin-right: 840px;
    margin-bottom: 128px;
}
.offer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    border-radius: 8px;
    margin: 32px 300px;
    margin-left: 640px;
    margin-right: 640px;
    padding: 40px;
}
#offer-img{
    height: 430px;
    width: 200px;
}

#free{
    color: red;
}
#off{
    color: red;
}
.discount-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 429px;
    padding-right: 429px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
}
.product{
    display: flex;
    justify-content: space-around;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 128px;
}
.product-text{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
   
}
.subscribe{
    background-image: url("../flower image/Rectangle\ 9.png");
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 145px;
    border-radius: 8px;
    height: 449px;
}
.subscribe-text{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
    
}
.subscribe-mail{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    
}
.all-footer{
    background: #111010; 
    height: 449px;
    border-radius: 8px;
    border: 2px solid gray;
   text-align: center;
    display: flex;
    align-items: center;
    
}
#foot-spn{
    color: red;
}
.footer-text{
    color: white;
   align-items: center;
   text-align: center;
   padding: 50%;
}